#body {
	background-color: #FFEEDD;
	padding: 15px;
	border-style: solid;
	border-color: #FFBBAA;
	display: inline-block;
}

.err {
	color: #FF0000;
	display: inline;
}

.title {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0.15em;
	display: inline-block;
}

body {
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-size: 4in 4in;
	background-color: #DA7568;
	margin: 0;
}

body > * {
	margin-left: 0.5em;
}

.small {
	font-size: small;
}

#titlebar {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

#titlebar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#titlebar a:link, #titlebar a:visited {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

#titlebar a:hover,a:active {
	color: #CDCDFF;
}

#titlebar span {
	padding: 2px 8px;
	background-image: url('images/menubar_background.png');
	background-repeat: repeat-x;
}

#titlebar em {
	color: #FFD700;
}

#titlebar li {
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #FFFFFF;
	font-family: tahoma, sans-serif;
}
