#body {
	background-color: #FFEEDD;
	padding: 15px;
	border-style: solid;
	border-color: #FFBBAA;
	display: inline-block;
	width: 100%;
}

.err {
	color: #FF0000;
	display: inline;
}

.title {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0.15em;
	display: inline-block;
}

body {
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-size: 4in 4in;
	background-color: #DA7568;
	margin: 0;
}

body > * {
	margin-left: 0.5em;
}

.small {
	font-size: small;
}

#titlebar {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

#titlebar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#titlebar a:link, #titlebar a:visited {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

#titlebar a:hover,a:active {
	color: #CDCDFF;
}

#titlebar span {
	padding: 2px 8px;
	background-image: url('images/menubar_background.png');
	background-repeat: repeat-x;
}

#titlebar em {
	color: #FFD700;
}

#titlebar li {
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #FFFFFF;
	font-family: tahoma, sans-serif;
}



table.bordered {
	border-collapse: collapse;
	border: 2px solid black;
	font-family: Tahoma, sans-serif;
	text-align: center;
	letter-spacing: 0.03em;
}

table.bordered > tbody > tr:first-child {
	border: 2px solid black;
}

table.bordered > tbody > tr > th, table.bordered > tbody > tr > td {
	border: 1px solid black;
	padding: 0.15em 0.5em;
}

#posts {
	padding: 0em;
	margin: 0em;
	font-family: Tahoma, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

#posts > tbody > tr > td {
	border: 1px dotted #EEDDDD;
	vertical-align: top;
}

#posts > tbody > tr > td:nth-child(1) {
	width: 161px;
}

#posts > tbody > tr > td:nth-child(2) {
	padding: 0.5em;
	width: 100%;
}

#posts > tbody > tr:nth-child(odd) {
	background-color: #FFF6EE;
}

#posts > tbody > tr:nth-child(even) {
	background-color: #FFF9F6;
}
